aioconsole==0.6.0
aiohttp==3.8.1
aiohttp-cors==0.7.0
aiomonitor==0.4.5
aiosignal==1.3.1
aniso8601==9.0.1
ansi2html==1.8.0
ansicon==1.89.0
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.6.0
asttokens==2.0.5
async-timeout==4.0.2
attrs==21.4.0
autobahn==23.1.2
Automat==22.10.0
Babel==2.11.0
backcall==0.2.0
backports.zoneinfo==0.2.1
bcrypt==4.0.1
beautifulsoup4==4.11.2
beeply==1.0.2
bidict==0.22.1
black==23.1.0
bleach==4.1.0
blessed==1.20.0
bokeh==3.1.0
cachelib==0.9.0
cachetools==5.3.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
cheroot==9.0.0
click==8.1.3
colorama==0.4.4
colorclass==2.2.2
colorlog==6.7.0
config==0.5.1
constantly==15.1.0
contourpy==1.0.7
croniter==1.3.8
cryptography==39.0.1
cycler==0.11.0
dash==2.8.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dateparser==1.1.7
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
distlib==0.3.6
dnspython==2.2.1
email-validator==1.3.0
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.2
fastjsonschema==2.16.3
filelock==3.4.2
filterpy==1.4.5
Flask==2.2.3
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-RESTful==0.3.9
Flask-Session==0.4.0
Flask-SocketIO==5.3.2
Flask-SQLAlchemy==3.0.2
Flask-SSE==1.0.0
Flask-WTF==1.0.1
fonttools==4.38.0
frozendict==2.3.6
frozenlist==1.3.3
gevent==22.10.2
gevent-websocket==0.10.1
gpustat==1.0.0
GPUtil==1.4.0
greenlet==2.0.1
greenletio==0.9.0
gunicorn==20.1.0
h11==0.14.0
html5lib==1.1
huggingface-hub==0.13.3
hyperlink==21.0.0
idna==3.3
importlib-metadata==5.2.0
importlib-resources==5.10.1
incremental==22.10.0
ipykernel==6.8.0
ipython==8.0.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
itsdangerous==2.0.1
jaraco.functools==3.5.2
jedi==0.18.1
Jinja2==3.0.3
jinxed==1.2.0
joblib==1.2.0
jsonschema==4.4.0
jupyter==1.0.0
kiwisolver==1.4.4
lxml==4.9.2
MarkupSafe==2.1.2
matplotlib==3.7.0
matplotlib-inline==0.1.3
mistune==0.8.4
mode==4.3.2
more-itertools==9.0.0
mplfinance==0.12.9b7
mpmath==1.2.1
msgpack==1.0.3
multidict==6.0.4
multitasking==0.0.11
mypy-extensions==0.4.3
nbclassic==0.5.2
nbclient==0.5.10
nbconvert==6.4.1
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==3.0
newnewtulipy==0.4.6.5
nltk==3.8.1
node==1.2
notebook==6.4.8
notebook_shim==0.2.2
npm==0.1.1
numpy==1.22.2
nvidia-ml-py==11.495.46
nvitop==1.0.0
odfpy==1.4.1
odict==1.9.0
openpyxl==3.1.2
opentracing==1.3.0
optional-django==0.1.0
packaging==23.0
pandas==1.5.3
pandas-ta==0.3.14b0
pandocfilters==1.5.0
parso==0.8.3
pathspec==0.9.0
pickleshare==0.7.5
Pillow==9.0.1
pipenv==2023.2.18
platformdirs==2.4.1
plotly==5.13.1
plumber==1.7
prometheus-client==0.13.1
prompt-toolkit==3.0.26
psutil==5.9.4
pure-eval==0.2.2
PyArabic==0.6.14
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.17
pydub==0.25.1
Pygments==2.11.2
pyOpenSSL==23.0.0
pyparsing==3.0.7
pyrsistent==0.18.1
python-dateutil==2.8.2
python-decouple==3.6
python-dotenv==0.21.0
python-engineio==4.3.4
python-json-logger==2.0.7
python-socketio==5.7.2
pytz==2022.7
pytz-deprecation-shim==0.1.0.post0
pywin32==303
pywinpty==2.0.10
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.1
QuantStats==0.0.59
questionary==1.10.0
redis==4.5.1
regex==2022.1.18
requests==2.27.1
retrying==1.3.4
sacremoses==0.0.47
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
Send2Trash==1.8.0
sentence-transformers==2.2.2
sentencepiece==0.1.97
service-identity==21.1.0
shutup==0.2.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.4
SQLAlchemy==1.4.45
stack-data==0.1.4
sympy==1.11.1
tabulate==0.9.0
tenacity==8.2.1
termcolor==2.2.0
terminado==0.13.1
terminaltables==3.1.10
testpath==0.5.0
threadpoolctl==3.1.0
tinycss2==1.2.1
tokenizers==0.13.2
tomli==2.0.0
tornado==6.1
tqdm==4.62.3
transformers==4.27.4
Twisted==22.10.0
twisted-iocpsupport==1.0.2
txaio==23.1.1
typing_extensions==4.0.1
tzdata==2022.7
tzlocal==4.2
ubtsl==0.0.1
ujson==5.6.0
urllib3==1.26.8
uvicorn==0.21.0
venusian==1.2.0
virtualenv==20.20.0
virtualenv-clone==0.5.7
wcwidth==0.2.5
Werkzeug==2.2.3
widgetsnbextension==3.5.2
windows-curses==2.3.1
WTForms==3.0.1
xlrd==2.0.1
xlwt==1.3.0
xyzservices==2023.2.0
yarl==1.8.2
yaspin==2.3.0
zipp==3.11.0
zope.component==5.1.0
zope.deferredimport==4.4
zope.deprecation==5.0
zope.event==4.6
zope.hookable==5.4
zope.interface==5.5.2
zope.lifecycleevent==4.4
zope.proxy==5.0.0
